<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light @@classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>Welcome to <strong>Loopy Bar</strong></p>
                <ul class="d-flex list-unstyled mb-5 mb-lg-0">
                    <li class="mr-2">
                        <a href="https://twitter.com/bartender_loopy" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link"
                        data-toggle="tooltip" data-placement="top" title="Follow @themesberg on Twitter">
                            <span aria-hidden="true" class="fab fa-twitter"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h5>Rule</h5>
                <ul class="footer-links list-unstyled mt-2">
                    <li>1. No vomit outside of the bathroom</li>
                    <li>2. No undress when you shouldn't</li>
                </ul>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
                <a href="/" target="_blank" class="d-flex justify-content-center">
                    <img src="@@path/assets/img/favicon/cocktail-favicon.png" height="25" class="mb-3" alt="Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © LoopyBar All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>