<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="Bartender Loopy">

<link rel="canonical" href="https://twitter.com/bartender_loopy" />

<!--  Social tags -->
<meta name="keywords" content="loopy, bar, cocktail">
<meta name="description" content="Drink, tipsy Loopy, drunken">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Loopy Bar">
<meta itemprop="description" content="Drink, tipsy Loopy, drunken">
<meta itemprop="image" content="http://file3.instiz.net/data/cached_img/upload/2021/03/21/21/68d3ca0a698050368648849343eb8a56.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@bartender_loopy">
<meta name="twitter:title" content="Loopy Bar">
<meta name="twitter:description" content="Drink, tipsy Loopy, drunken">
<meta name="twitter:creator" content="@bartender_loopy">
<meta name="twitter:image" content="http://file3.instiz.net/data/cached_img/upload/2021/03/21/21/68d3ca0a698050368648849343eb8a56.jpg">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="Loopy Bar" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://twitter.com/bartender_loopy" />
<meta property="og:image" content="http://file3.instiz.net/data/cached_img/upload/2021/03/21/21/68d3ca0a698050368648849343eb8a56.jpg"/>
<meta property="og:description" content="Drink, tipsy Loopy, drunken" />
<meta property="og:site_name" content="Loopy Bar" />

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="512x512" href="@@path/assets/img/favicon/cocktail-favicon.png">
<link rel="manifest" href="@@path/assets/img/favicon/site_loopy.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}